

div{
  --top-margin: 10px;
  --bottom-margin: 30px;
  --collapse-bar-height: 20px;
  --tabs-height: 37px;
}


.hidden-view {
  display: none;
  pointer-events: none;
  /* below is apparently better for 'screen readers' ...
  position: absolute !important;
  top: 50px !important;
  left: -50px !important; */
}

.border-fix {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  pointer-events: none;
  border: 1px red solid;
}


.outer-container {
  top: var(--top-margin);
  bottom: var(--bottom-margin);
  right: 0px;
  width: 225px;
  overflow: hidden;
  font-size: smaller;
}

.inner-container {
  box-shadow: -4px 0px 8px 0px rgba(0,0,0,0.4);
  background: white;
  pointer-events: auto;
  z-index: 10;
}


/* COLLAPSE BAR */

.collapse-btn {
  height: var(--collapse-bar-height);
  top: 0px;
  pointer-events: auto;
  background-color: var(--ts-grey-background);

}

@media only screen and (min-width: 900px) {
  .collapse-btn:hover {
    cursor: pointer;
    background: rgba(255,255,255, 1.0);
  }
}


/* NAV TABS */

.nav-tabs {
  margin-left: -1px;
  margin-right: -1px;
  background-color: var(--ts-grey-background);
}


/* this is needed to ensure that the tabs which are hidden and overlay
the active tab, do not interfere with the active tab inputs */
.tab-panel:not(.active) {
  display: none;
}

