
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div class="outer-container position-absolute">

  <div [ngClass]="isMinimised ? '' : 'h-100'" class="inner-container position-absolute d-flex flex-column ">


    <!-- MINIMISE BUTTON -->
    <div  (click)="onMinimiseClick()" class="collapse-btn text-center m-0 p-0">
      <span [ngClass]="isMinimised ? 'fas fa-chevron-down' : 'fas fa-chevron-up'" class="m-0 p-0"></span>
    </div>


    <!-- MINIMISED VIEW -->
    <div [ngClass]="isMinimised ? '' : 'hidden-view'" class="bg-white border-top">
      <app-panel-details></app-panel-details>
    </div>


    <!-- MAXIMISED VIEW -->
    <div [ngClass]="isMinimised ? 'hidden-view' : ''" class="w-100 flex-grow-1 temp">

      <!-- <div class="border-fix position-absolute h-100 w-100 border"></div> -->

      <!-- TABS -->
      <!-- Define the tabs using ngfor to loop through the active array, as set by the .ts -->
      <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
        <li *ngFor="let tab of tabsArray" class="nav-item">
          <a [ngClass]="getTabsClass(tab)" id="{{tab.title}}" class='nav-link m-0 px-0 py-2 rounded-0  border-top'
            data-toggle="tab" href={{tab.href}} role="tab">
            {{tab.title}}
          </a>
        </li>
      </ul>

      <!-- TAB CONTENT -->
      <!-- Inject panels depending on the type of page -->
      <div #div *ngFor="let tab of tabsArray" [ngClass]="getTabsClass(tab)" id={{tab.name}}
        role="tabpanel" class="h-100 w-100 tab-panel bg-white">
        <div class="m-2 p-0 h-100 overflow-auto">
          <app-panels-injector  #injector tabName={{tab.name}} callingPage={{callingPage}}></app-panels-injector>
        </div>
      </div>

    </div>



  </div>
</div>
