
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<!-- <div class="outer-container position-absolute"> -->

<div class="h-100">

    <!-- MINIMISED VIEW -->
    <!-- TODO: Is there a better way to do this than to reuse the entire details panel? -->
    <!-- <div [ngClass]="isMinimised ? '' : 'hidden-view'" class="bg-white">
      <app-panel-details callingPage="{{callingPage}}"></app-panel-details>
    </div>
 -->

    <!-- MAXIMISED VIEW -->
    <!-- <div [ngClass]="isMinimised ? 'hidden-view' : ''" class="w-100 d-flex flex-column flex-grow-1"> -->
    <!-- <div [ngClass]="isMinimised ? 'hidden-view' : 'd-flex flex-column flex-grow-1'" class=""> -->

      <!-- <div class="border-fix border-left border-right"></div> -->

      <!-- TABS -->
      <!-- Define the tabs using ngfor to loop through the active array, as set by the .ts -->
      <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
        <li *ngFor="let tab of tabsArray" class="nav-item">
          <a [ngClass]="getTabsClass(tab)" id="{{tab.title}}" class='nav-link m-0 px-0 py-2 rounded-0 border-top'
            data-toggle="tab" href={{tab.href}} role="tab">
            {{tab.title}}
          </a>
        </li>
      </ul>

      <!-- TAB CONTENT -->
      <!-- Inject panels depending on the type of page -->
      <div #div *ngFor="let tab of tabsArray" [ngClass]="getTabsClass(tab)" id={{tab.name}}
        role="tabpanel" class="h-100 w-100 flex-grow-1 tab-panel bg-white position-relative">
        <div class="position-absolute content-inner">
          <app-panels-injector  #injector tabName={{tab.name}} callingPage={{callingPage}}></app-panels-injector>
        </div>
      </div>

    <!-- </div> -->

  </div>

  <!-- </div> -->
<!-- </div> -->
