
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<div class="info-panel position-absolute ">


  <!-- Maximised display -->
  <!-- <ng-template #notMinimised> -->
    <!-- invisible container to give d-flex to child divs -->


  <div  (click)="onMinimiseClick()" class="collapse-btn position-relative text-center m-0 p-0 border-top border-left">
    <i [ngClass]="isMinimised ? 'fas fa-chevron-down' : 'fas fa-chevron-up'" class="position-relative chevron"></i>
  </div>



  <!-- <div *ngIf="isMinimised; else notMinimised"> -->
  <div [ngClass]="isMinimised ? '' : 'hide'" class="minimised-panel border border-right-0">

    <div class="border rounded-left border-right-0 ml-2 mt-2 mb-2 bg-white">
    <!-- class="border-left border-top border-bottom rounded-left mt-2 ml-2 mb-2 bg-white" -->
      <app-panel-details-minimised></app-panel-details-minimised>
    </div>
  </div>



  <!-- <ng-template #notMinimised> -->

    <!-- <div [ngClass]="isMinimised ? 'hide' : ''"  class="w-100 d-flex flex-column outer-container border border-secondary"> -->

      <div [ngClass]="isMinimised ? 'hide' : ''" class="order-left border border-right-0 outer-container">


        <!-- TABS -->
        <!-- Define the tabs using ngfor to loop through the active array, as set by the .ts -->
        <ul class="nav nav-tabs mt-2 ml-2 p-0 nav-justified" id="myTab" role="tablist">
          <li *ngFor="let tab of tabsArray" class="nav-item m-0 p-0">
            <a [ngClass]="getClass(tab)" id="{{tab.title}}" class='nav-link' data-toggle="tab" href={{tab.href}} role="tab">
              {{tab.title}}
            </a>
          </li>
        </ul>


        <!-- TAB CONTENT -->
        <!-- Inject panels depending on the type of page -->
        <div #div *ngFor="let tab of tabsArray" [ngClass]="getClass(tab)" id={{tab.name}} role="tabpanel"
          class="position-absolute panel-size-calc tab-panel fade border-left border-bottom bg-white ml-2">

          <div class="ml-2 mr-1 pr-1 pt-1 h-100 overflow-auto">
            <app-panels-injector  #injector tabName={{tab.name}} callingPage={{callingPage}}></app-panels-injector>
          </div>

        </div>

      </div>
    <!-- </div> -->
  <!-- </ng-template> -->


</div>
