
/*

z-index:

.nav-tabs .nav-link: 1
.tab-content-container: 50
.nav-tabs .nav-link.active: 100
tabs-border-fix: 200


*/

div{
  --top-margin: 10px;
  --bottom-margin: 30px;
  --collapse-bar-height: 20px;
  --tabs-height: 37px;
}


.hidden-view {
  display: none;
  pointer-events: none;
  /* below is apparently better for 'screen readers' ...
  position: absolute !important;
  top: 50px !important;
  left: -50px !important; */
}

.outer-container {
  top: var(--top-margin);
  bottom: var(--bottom-margin);
  right: 0px;
  width: 225px;
  overflow: hidden;
  font-size: smaller;


  /* box-shadow: -4px 0px 8px 0px rgba(0,0,0,0.2);
  font-size: smaller;
  pointer-events: none; */
  /* max-height: calc(100% - var(--top-margin) - var(--bottom-margin)); */
}

.inner-container {
  box-shadow: -4px 0px 8px 0px rgba(0,0,0,0.4);
  border: 1px red solid;
}
/* .inner-container { */
  /* font-size: smaller;
  pointer-events: none;
  border: 1px orange dotted; */
  /* box-shadow: -4px 0px 8px 0px rgba(0,0,0,0.2);
  font-size: smaller;
  pointer-events: none;
} */

/* COLLAPSE BAR */

.collapse-btn {
  height: var(--collapse-bar-height);
  top: 0px;
  pointer-events: auto;
  background: white;

}

@media only screen and (min-width: 900px) {
  .collapse-btn:hover {
    cursor: pointer;
    background: rgba(255,255,255, 1.0);
  }
}

.chevron {
  top: 0px;
}


/* COLLAPSE BAR */

.min-view-container {
  background: white;
  pointer-events: auto;
}


.max-view-container {
  background: white;
  pointer-events: auto;
  overflow: hidden;
  height: 100%
}

.tabs-border-fix {
  z-index: 200;
  pointer-events: none;
}


/* use z-index to control tab border behaviour */
.nav-tabs .nav-link {
  height: var(--tabs-height);
  background-color: var(--ts-grey-background);
  border-top: none;
  z-index: 40;
}

/* use z-index to control tab border behaviour */
.nav-tabs .nav-link.active {
  background-color: white;
  border-top: none;
  border-bottom: 1px white solid;
  z-index: 100;
}

.nav-tabs {
  border-bottom: none;
  margin-right: -1px;
  background-color: white;
}

/* this is needed to ensure that the tabs which are hidden and overlay
the active tab, do not interfere with the active tab inputs */
.tab-panel:not(.active) {
  display: none;
}

/* use z-index to control tab border behaviour */
.tab-content-container {
  height: calc(100% - var(--collapse-bar-height) - var(--tabs-height));
  margin-top: -1px;
  z-index: 50;
}


