

ul {
  /* padding-bottom: -10px; */
  /* border-bottom: 1px var(--ts-bootstrap-border-grey) solid; */

}

li {
  /* border-bottom: 1px red solid; */

}

.nav-tabs {
  margin-left: -1px;
  margin-right: -1px;
  margin-bottom: -1px;
  /* padding-bottom: -1px; */
  background-color: var(--ts-grey-background);
}

.content-inner {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

/* this is needed to ensure that the tabs which are hidden and overlay
the active tab, do not interfere with the active tab inputs */
.tab-panel:not(.active) {
  display: none;
}




