
<div class="d-flex mb-0 flex-row">

    <!-- Twitter follow btn https://developer.twitter.com/en/docs/twitter-for-websites/tweet-button/overview-->
    <div class="ml-auto mb-0 mr-1">
        <a class="twitter-follow-button"
            href="https://twitter.com/TrailGazing"
            data-size="small">
        </a>
    </div>

    <!-- Twitter share btn https://developer.twitter.com/en/docs/twitter-for-websites/tweet-button/overview-->
    <div class="mr-1 mb-0">
        <a class="twitter-share-button"
            href="https://twitter.com/intent/tweet?text=Check%20out%20thetrailproject.co.uk!! #running #cycling #onthetrails #loverunning"
            data-size="small">
        </a>
    </div>

</div>
