# NOTE that nodejs/ and aangular/ have their own .gitignore files
# allhidden files except whats below
.*

# development
!.vscode

/angular/node_modules
/angular/dist
/angular/tmp
/angular/out-tsc
/angular/src/environmentss

/nodejs/node_modules
/nodejs.env

# deployment
!.bash_aliases
!.bash_logout
!.gitignore
!.profile
certbot-info
cron.log
data
dhparam
env
snap
usr