# SO post showing how to update archive after gitignore update
# https://stackoverflow.com/questions/6030530/git-ignore-not-working-in-a-directory

# allhidden files except whats below
.*

# development
!.vscode

/node_modules
/dist
/tmp
/out-tsc
/src/environments

/nodejs/node_modules
/nodejs.env

# deployment
!.bash_aliases
!.bash_logout
!.gitignore
!.profile
certbot-info
cron.log
data
dhparam
env
snap
usr
