
.input{
  font-size: 12px;
  padding: 3px 6px;
  cursor: text;
}

.absolute-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;
  /* border: 1px red solid; */
}

.btn {
  width: 80px;
}

.stats-pane {
  overflow-x: hidden;
  overflow-y: auto;

}
