
<div class="d-flex h-100 w-100 p-2 flex-column">


  <div class="flex-grow-1 w-75 mx-auto text-center">

    <!-- GUEST USER CAN
      - plot a route
      - export a public route to gpx
      - get shareable link (for public routes)
      - only view public routes or play with the create tool, but not save
      GUEST USER CAN NOT:
      - save a route
      - move routes between public and private
      - delete route
      - import/export
      - edit
      -->


    <div class="w-100 text-center h6 mb-3 mt-3">New Routes</div>

    <div [ngClass]="!auth.isRegistered ? 'ts-menu-item-disabled' : ''" class="ts-menu-item p-1 border-top" (click)="onImportGpxClick()">
      Upload a .gpx file
    </div>

    <div class="ts-menu-item p-1 border-top border-bottom mb-3" (click)="onCreateClick()">
      Create a new route
    </div>


    <div *ngIf="!!pathId" class="border-bottom">

      <div class="w-100 text-center h6 mb-3 mt-3 pt-3">Route Options</div>

      <div *ngIf="auth.isRegistered && (!isPathPublic || createdBy === auth.user.userName)"
            class="ts-menu-item p-1 border-top"
            (click)="onChangePublicClick()">
        Make this route {{isPathPublic ? 'private' : 'public'}}
      </div>

      <div
        *ngIf="createdBy === auth.user.userName && windowWidth > BREAKPOINT"
        [ngClass]="!auth.isRegistered ? 'ts-menu-item-disabled' : ''"
        class="ts-menu-item p-1 border-top"
        (click)="onEditClick()">
        Edit this route
      </div>

      <div
        [ngClass]="!auth.isRegistered ? 'ts-menu-item-disabled' : ''"
        class="ts-menu-item p-1 border-top"
        (click)="onCopyClick()">
        Copy this route
      </div>

      <div
        *ngIf="createdBy === auth.user.userName"
        class="ts-menu-item p-1 border-top"
        (click)="onDeleteClick()">
        Delete this route
      </div>

      <div
        *ngIf="isPathPublic"
        [ngClass]="!auth.isRegistered ? 'ts-menu-item-disabled' : ''"
        class="ts-menu-item p-1 border-top"
        (click)="onShareClick()">
        Get a shareable link
      </div>

      <div
        [ngClass]="!auth.isRegistered ? 'ts-menu-item-disabled' : ''"
        class="ts-menu-item p-1 border-top"
        (click)="onExportGpxClick()">
        Download as .gpx file
      </div>

    </div>

    <!-- This is a hidden element activated by the 'Load from file' link above -->
    <div class="file-selector">
      <form id="file_form">
        <input type="file" id="file-select-single" (change)="onFilePickedImport($event, false, 'route')" single>
      </form>
    </div>


  </div>


</div>
