
<!-- <div class="profile-box bg-white border rounded d-flex flex-column small"> -->
<div *ngIf='!hideTemplate' class="profile-box bg-white border rounded container small">

  <button type="button" class="close" (click)="close.next()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>

  <!-- Start of header block -->
  <div class="h3 text-center my-2 py-2">{{user.userName}}</div>
  <!-- End of header block -->

  <!-- Start of information block -->
  <div class="h6 text-left border-bottom my-2 py-2">User Data</div>

  <div class="row ">

    <div class="col-sm-4 p-0 m-0 text-right font-weight-bold">
      <div class="my-1"> Home location</div>
      <div class="my-1"> email</div>
    </div>

    <div class="col-sm text-left">
      <div class="my-1"> {{locationString}} </div>
      <div class="my-1"> {{user.email}} </div>
    </div>

    <div class="col-sm text-left">
      <div class="my-1"> (<span class="global-make-text-look-like-link" (click)="onSetLocationClick()">set</span>)</div>
      <!-- <div class="my-1"> (<span class="global-make-text-look-like-link" (click)="onSetLocationClick()">update</span>)</div> -->
    </div>

  </div>
  <!-- End of information block -->

  <!-- Start of units block  -->
  <div class="h6 text-left border-bottom my-2 py-2">Unit Preferences</div>
  <div class="row">
    <div class="col-sm-4 text-right font-weight-bold m-0 p-0">Distances</div>
    <div [ngClass]="isDistChecked ? '' : 'font-weight-bold'" class="col-sm-2 text-right m-0 p-0">miles</div>
    <div class="col-sm-2 text-center m-0 p-0">
        <div class="custom-control custom-switch custom-switch-sm">
          <input [(ngModel)]="isDistChecked" (change)="!isDistChecked" (click)="onToggleClick()" type="checkbox" class="custom-control-input" id="customSwitch1">
          <label class="custom-control-label" for="customSwitch1"></label>
        </div>

    </div>
    <div [ngClass]="isDistChecked ? 'font-weight-bold' : ''" class="col-sm-2 text-left m-0 p-0">km</div>
  </div>

  <div class="row">
    <div class="col-sm-4 text-right font-weight-bold m-0 p-0">Elevations</div>
    <div [ngClass]="isElevChecked ? '' : 'font-weight-bold'" class="col-sm-2 text-right m-0 p-0">m</div>
    <div class="col-sm-2 text-center m-0 p-0">
        <div class="custom-control custom-switch custom-switch-sm">
          <input [(ngModel)]="isElevChecked" (change)="!isElevChecked" (click)="onToggleClick()" input type="checkbox" class="custom-control-input" id="customSwitch2">

          <label class="custom-control-label" for="customSwitch2"></label>
        </div>
    </div>
    <div [ngClass]="isElevChecked ? 'font-weight-bold' : ''" class="col-sm-2 text-left m-0 p-0">ft</div>
  </div>
  <!-- End of units block -->


  <div class="d-flex justify-content-end mt-2 mb-2">
    <button [ngClass]="isChanged ?
      {'disabled': false, 'btn-primary': true, 'btn-secondary': false} :
      {'disabled': true, 'btn-primary': false, 'btn-secondary': true}"
      class="btn btn-sm btn-primary mt-4 mb-2" type="submit" (click)="onSaveClick()">Save Changes</button>
  </div>


</div>
