
<div class="header-container d-flex flex-row w-100 py-1">

  <div class="flex-grow-1 m-0">
    <a href="/routes/list">
      <img class="image" src="../../assets/images/ts_header.svg" alt="">
    </a>
  </div>


  <div *ngIf='showProfileIcon' class="icon-holder my-auto px-2" >
    {{auth.user.userName}}
    <img *ngIf="auth.isRegistered" src="assets/images/icon-header-profile.svg" class="icon" title="View Profile" (click)="onProfileClick()">
    <img *ngIf="auth.isGuest" src="assets/images/icon-header-profile.svg" class="icon" title="Register/Login" (click)="onLogoutClick()">
  </div>

</div>
