
<div class="d-flex h-100 flex-column">

  <div class="flex-grow-1">

    <div *ngIf="!!pathId">
      <p class="text-left mt-3 mb-1">Operations on active route</p>
      <div *ngIf="allowMakePrivate(); else allowCopy">
        <span class="global-make-text-look-like-link" (click)="onMakePublicClick()"> Make route {{isPathPublic ? 'private' : 'public'}}</span> <br>
      </div>

      <ng-template #allowCopy>
        <span class="global-make-text-look-like-link" (click)="onMakeCopyClick()"> Copy into private routes </span> <br>
      </ng-template>

      <span *ngIf="allowDelete()" class="global-make-text-look-like-link" (click)="onDeleteClick()"> Delete route <br></span>

      <span class="global-make-text-look-like-link" (click)="onReverseClick()"> Reverse route </span> <br>

      <div *ngIf="allowEdit()">
        <span class="global-make-text-look-like-link" (click)="onEditClick()"> Edit Route </span> <br>
      </div>

      <span class="text-muted">Export to .fit file</span><br>

      <span class="global-make-text-look-like-link" (click)="onExportGpxClick()"> Export to .gpx file </span> <br>
      <!-- <hr> -->
    </div>

    <p class="text-left mt-3 mb-1">Create a new route</p>

    <span class="text-muted"> Load from .fit file </span> <br>
    <span class="global-make-text-look-like-link" (click)="onLoadFileClick()"> Load from .gpx file </span> <br>
    <span class="global-make-text-look-like-link" (click)="onCreateClick()"> Create on map </span> <br>
    <!-- <a [routerLink]="['/route/create']">Create on map</a><br> -->

    <!-- This is a hidden element activated by the 'Load from file' link above -->
    <div class="file-selector">
      <form id="file_form">
        <input type="file" id="file-select-single" (change)="onFilePickedImport($event, false, 'route')" single>
      </form>
    </div>

  </div>


  <p class="small text-left">Tip: Inactive links indicate features in development!</p>

</div>
