<div class="p-2 d-flex flex-column">


  <!-- MINIMISED VIEW -->

  <div *ngIf="isMinimised">

    <!-- NO ROUTE SELECTED -->
    <div *ngIf="!isData" class="my-2 text-center">
      Expand panel to select a route.
    </div>

    <!-- ROUTE SELECTED -->

    <div *ngIf="isData" class="row no-gutters text-center">
      <i>Active route and {{nRoutes-1}} overlays plotted.</i>
      <div class="col-6 m-0 text-left">
        {{geoJson.properties.info.name | shortName: 16}}
      </div>
      <div class="col-3 m-0 text-center">
        {{geoJson.properties.stats.distance | unitsString: 'distance': units.distance}}
      </div>
      <div class="col-3 m-0 text-center">
        {{geoJson.properties.stats.elevations.lumpiness | unitsString: 'lumpiness': units.elevation: units.distance}}
      </div>
    </div>

  </div>



  <!-- MAXIMISED VIEW -->

  <div *ngIf="!isMinimised" class="maximised-container d-flex flex-column p-2 ">

    <!-- NO DATA -->
    <div *ngIf="!isData" class="w-100 text-center d-flex flex-column flex-grow-1 ">

      <div *ngIf="callingPage==='create'; else list">
        <div class="text-center m-3">
          Click on the map to begin.
        </div>

        <div class="small mt-auto text-center">
          Data will show here when the route is at least two points long.
        </div>
      </div>

      <ng-template #list>
        <div class="text-center m-3">
          No routes selected.
        </div>

        <div class="small mt-auto text-center">
          Use the 'List' tab find and select routes.
        </div>
      </ng-template>

    </div>


    <!-- DATA -->
    <div *ngIf="isData">



      <!-- NAME & DESCRIPTION only for list page -->
      <div *ngIf="callingPage==='list'; else showForm" class="pb-2 border-bottom text-center">

        <div class="h6 my-0 py-0">{{geoJson.properties.info.name}}</div>

        <div *ngIf="geoJson.properties.info.description" class="">
          <i>{{geoJson.properties.info.description}}</i>
        </div>

      </div>



      <!-- FORM INPUTS only if create page -->
      <ng-template #showForm>

        <div class="input-group input-group-sm my-1">
            <input class='form-control' type='text'
            placeholder="{{geoJson.properties.info.name | autoName: geoJson.properties.info.category: geoJson.properties.info.pathType}}"
            [(ngModel)]="givenPathName" name="first">
        </div>

        <div class="input-group input-group-sm my-1">
            <textarea class='form-control' placeholder='Give your route a description' [(ngModel)]="geoJson.properties.info.description"></textarea>
        </div>

      </ng-template>



      <!-- PATH DATA -->
      <div class="px-2 pt-2 pb-0">

        <div class="row no-gutters">

          <div class="col-6 px-1">Distance</div>
          <div class="col-6 px-1">{{geoJson.properties.stats.distance | unitsString: 'distance': units.distance}}</div>

          <div class="col-6 px-1">Points</div>
          <div class="col-6 px-1">{{geoJson.properties.stats.nPoints | number: '1.0-0'}}</div>

          <div class="col-6 px-1">Category</div>
          <div class="col-6 px-1">{{geoJson.properties.info.category}}</div>

          <div class="col-6 px-1">Direction</div>
          <div class="col-6 px-1">{{geoJson.properties.info.direction}}</div>

          <div class="col-6 px-1">Public</div>
          <div class="col-6 px-1">{{geoJson.properties.info.isPublic}}</div>

          <div *ngIf="geoJson.properties.info.isPublic" class="col-6 px-1">Created by</div>
          <div *ngIf="geoJson.properties.info.isPublic" class="col-6 px-1">{{geoJson.properties.info.createdBy}}</div>

        </div>

      </div>


      <!-- ELEVATIONS -->
      <div *ngIf="isElevations" class="px-2 pt-0 pb-0">

          <div class="row no-gutters">

            <div class="col-6 px-1">Ascent</div>
            <div class="col-6 px-1">{{geoJson.properties.stats.elevations.ascent | unitsString: 'elevation': units.elevation}}</div>

            <div class="col-6 px-1">Descent</div>
            <div class="col-6 px-1">{{geoJson.properties.stats.elevations.descent | unitsString: 'elevation': units.elevation}}</div>

            <div class="col-6 px-1">Max Elev</div>
            <div class="col-6 px-1">{{geoJson.properties.stats.elevations.maxElev | unitsString: 'elevation': units.elevation}}</div>

            <div class="col-6 px-1">Min Elev</div>
            <div class="col-6 px-1">{{geoJson.properties.stats.elevations.minElev | unitsString: 'elevation': units.elevation}}</div>

            <div class="col-6 px-1">Lumpiness</div>
            <div class="col-6 px-1">{{geoJson.properties.stats.elevations.lumpiness | unitsString: 'lumpiness': units.elevation: units.distance}}</div>

          </div>

      </div>


      <!-- ELEVATIONS CHART -->
      <div *ngIf="isElevations" class="">

        <canvas class="py-3" height="300" baseChart
            [datasets]="chartData"
            [chartType]="'scatter'"
            [labels]="chartLabels"
            [options]="chartOptions"
            [colors]="chartColors"
            [legend]="chartLegend"
            (chartHover)="onChartHover($event)"
            (chartClick)="onChartClick($event)"
            (mouseout)="onChartOut()">
        </canvas>

      </div>



    <!-- HILLS TABLE -->
    <div *ngIf="geoJson.properties.stats.hills.length > 0" class="pt-2 w-100 mx-auto text-center small overflow-auto">

      <div class="row no-gutters border">

        <div class="col-3 border-right">Starts at</div>
        <div class="col-3 border-right">Hill Length</div>
        <div class="col-2 border-right">Height Gain</div>
        <div class="col-2 border-right">Grad Ave</div>
        <div class="col-2">Grad Max</div>

      </div>

      <div class="row no-gutters border-left border-bottom" *ngFor="let row of geoJson.properties.stats.hills">

        <div class="col-3 border-right"> {{this.geoJson.properties.params.cumDistance[row.startPoint] | unitsString: 'distance': units.distance}}</div>
        <div class="col-3 border-right"> {{row.dDist | unitsString: 'distance': units.distance}}</div>
        <div class="col-2 border-right"> {{row.dHeight | unitsString: 'elevation': units.elevation}}</div>
        <div class="col-2 border-right"> {{row.aveGrad | number: '1.0-0'}}%</div>
        <div class="col-2 border-right"> {{row.maxGrad | number: '1.0-0'}}%</div>

      </div>

    </div>




  </div>

      <!-- BUTTONS -->
      <div *ngIf="callingPage !== 'list'" class="buttons d-flex mb-2 mt-2 justify-content-center" >
        <button (click)="onSave()" type="button" class="btn btn-primary btn-sm mt-1" type="submit">Save</button>
        <button (click)="onCancel()" type="button" class="btn btn-secondary btn-sm ml-1 mt-1" type="cancel">Cancel</button>
      </div>

</div>
