
.input{
  font-size: 12px;
  padding: 3px 6px;
  cursor: text;
}

.inner {
  /* border: 1px red dotted; */
  overflow-y: auto;
  overflow-x: hidden;
  cursor: default;
}

.maximised-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;
}
