

div{
  --menu-width: 275px;
  --border-radius: 5px;
  --transition-time: 1s;
}

/* .menu-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 60px;
  border: 1px red solid;
} */


.outer-container {
  /* transition: background-color var(--transition-time); */
  position: absolute;
  top: 10px;
  right: 10px;
  pointer-events: none;
  /* border: 1px blue solid; */
  border: 1px var(--ts-green) solid;
  border-radius: var(--border-radius);
  background-color: white;
}

.inner-container {
  transition: height var(--transition-time);
  height: 0px;
  width: var(--menu-width);
  pointer-events: auto;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  /* border: 1px orange dashed; */
}

.inner-container-open {
  transition: height var(--transition-time);
  /* height: calc(100vh - 150px); */
  height: calc(var(--vh, 1vh) * 100 - 150px);

}

.small-details {
  width: var(--menu-width);
  height: 0px;
  background-color: white;
  transition: height var(--transition-time);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.small-details-open {
  height: 35px;
  transition: height var(--transition-time);
}

.toggle-bar {
  height: 30px;
  width: var(--menu-width);
  background-color: white;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  pointer-events: all;
  cursor: pointer;
  background-color: white;
  /* box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.2); */
}



.toggle {
  width: 50px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ts-green);
}

.arrow-icon {
  transform: rotate(0turn);
  transition: transform var(--transition-time);
}

.arrow-icon-open {
  transition: transform var(--transition-time);
  transform: rotate(0.5turn);
}
