
<div class="map-div bg-white d-flex flex-column">

  <div class="col-lg-10 offset-lg-1 small h-75 bg-white d-flex flex-column my-auto">

    <!-- HEADER -->
    <div class="h6 text-left border-bottom my-2 py-2">Select Home Location {{home | coords}}</div>

    <!-- MAP -->
    <div class="map m-0 p-0 w-100 h-100" id="map"></div>

    <!-- BUTTONS -->
    <div class="row justify-content-center my-2">
      <div class="col-3 col-sm-2 m-0 p-0 m-1">
        <button class="btn btn-sm btn-outline-secondary btn-block" type="submit" (click)="onCancel()">Cancel</button>
      </div>
      <div class="col-3 col-sm-2 m-0 p-0 m-1">
        <button class="btn btn-sm btn-primary btn-block" type="submit" (click)="onOK()">OK</button>
      </div>
    </div>
  </div>

</div>


