
<!-- <div class="menu-container"> -->
  <app-menu-bar callingPage={{callingPage}} [map]="map"></app-menu-bar>
<!-- </div> -->

<div [ngClass]="isMenuOpen ? 'outer-container-open' : ''" class="outer-container">

  <div [ngClass]="isMenuOpen ? 'inner-container-open' : ''" class="inner-container overflow-hidden mx-auto">
    <app-info-panel callingPage={{callingPage}}></app-info-panel>
  </div>

  <div
    [ngClass]="!isMenuOpen&&(data.isPath()||callingPage==='create') ? 'small-details-open' : ''"
    class="small-details overflow-hidden mx-auto"
    (click)="onToggleClick()">

    <app-panel-details-summary callingPage={{callingPage}}> </app-panel-details-summary>
  </div>

  <div class="toggle-bar d-flex mx-auto" (click)="onToggleClick()">
    <div class="toggle my-auto mx-auto">
    </div>
  </div>

</div>
