<div>mobile</div>

<app-menu-bar callingPage="list" [map]="map"></app-menu-bar>


<!-- <app-info-panel callingPage="list"></app-info-panel> -->

<!-- <div class="full-width-panel-container d-flex"> -->
<div [ngClass]="isMenuOpen ? 'outer-container-opened' : ''" class="outer-container d-wrap-flex">
  <div [ngClass]="isMenuOpen ? 'inner-container-opened' : ''" class="inner-container overflow-hidden mx-auto">

    <app-info-panel callingPage="list"></app-info-panel>

  </div>

  <div class="toggle-bar d-flex mx-auto" (click)="onToggleClick()">
    <div class="toggle my-auto mx-auto">
    </div>
  </div>

</div>
