.register-box {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  transform: translate(-50%, -50%);
}

.form-control-danger {
  border-color: #e06c6c;
  /* background-color: #e06c6c; */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(224, 108, 108, 0.5);
}
/*
input, textarea{
  background-color:#666;
  color: #FFF;
} */
