.file-selector {
    display: none;
}

.spacer {
  height: 25px;
}

.text-muted {
  cursor: default
}

.ts-menu-item {
  width: 100%;
  color: black;
  text-align: center;
  pointer-events: all;
}

.ts-menu-item-disabled {
  color: grey;
  pointer-events: none;
}

