
<div class="d-flex h-100 p-2 flex-column">

  <div class="spacer"></div>

  <div class="flex-grow-1">

    <div class="h6 pb-1 mb-2 border-bottom text-left">
      New Routes
    </div>

    <div class="ml-2">
      <span *ngIf="auth.isGuestUser()" class="text-muted"> Load from .gpx file<br> </span>
      <span *ngIf="auth.isRegisteredUser()" class="text-like-link" (click)="onLoadFileClick()"> Load from .gpx file <br></span>
      <span class="text-like-link" (click)="onCreateClick()"> Create a new route </span> <br>
    </div>
    <!-- </div> -->

    <div class="spacer"></div>

    <div *ngIf="!!pathId">


      <!-- <div class="h6 py-1 my-2 border-bottom text-left">
        Active Route Options
      </div> -->
      <div class="h6 pb-1 mb-2 border-bottom text-left">
        Active Route Options
      </div>
    <div class="ml-2">


      <div *ngIf="allowMakePrivate()">
        <span *ngIf="auth.isGuestUser()" class="text-muted"> Make route {{isPathPublic ? 'private' : 'public'}}<br></span>
        <span *ngIf="auth.isRegisteredUser()" class="text-like-link" (click)="onMakePublicClick()"> Make route {{isPathPublic ? 'private' : 'public'}}<br></span>
      </div>

      <div *ngIf="allowCopy()">
        <span *ngIf="auth.isGuestUser()" class="text-muted" > Copy into private routes<br></span>
        <span *ngIf="auth.isRegisteredUser()" class="text-like-link" (click)="onMakeCopyClick()"> Copy into private routes<br></span>
      </div>

      <span *ngIf="allowDelete()" class="text-like-link" (click)="onDeleteClick()"> Delete route <br></span>

      <span *ngIf="auth.isGuestUser()" class="text-muted" >Reverse route<br></span>
      <span *ngIf="auth.isRegisteredUser()" class="text-like-link" (click)="onMakeCopyClick()">Reverse route<br></span>

      <div *ngIf="allowEdit()">
        <span *ngIf="auth.isGuestUser()" class="text-muted">Edit Route<br></span>
        <span *ngIf="auth.isRegisteredUser()" class="text-like-link" (click)="onReverseClick()">Edit Route<br></span>
      </div>

      <span *ngIf="isPathPublic" class="text-like-link" (click)="onShareClick()"> Get shareable link </span> <br>

      <span class="text-like-link" (click)="onExportGpxClick()"> Export to .gpx file </span> <br>

    </div>
</div>

      <!-- <a [routerLink]="['/route/create']">Create on map</a><br> -->

      <!-- This is a hidden element activated by the 'Load from file' link above -->
      <div class="file-selector">
        <form id="file_form">
          <input type="file" id="file-select-single" (change)="onFilePickedImport($event, false, 'route')" single>
        </form>
      </div>


  </div>

  <p class="small text-left">Tip: Inactive links indicate features in development!</p>

</div>
