.file-selector {
  display: none;
}

.ts-menu-item {
  width: 100%;
  color: black;
  text-align: center;
  pointer-events: all;
  cursor: pointer;
}

.ts-menu-item:hover {
  background-color: var(--ts-grey-background);
}

.ts-menu-item-disabled {
  color: grey;
  pointer-events: none;
  cursor: default;
}

