
<div class="d-flex h-100 w-100 p-2 flex-column">


  <div class="flex-grow-1 w-75 mx-auto text-center">

    <!-- GUEST USER CAN
      - plot a route
      - export a public route to gpx
      - get shareable link (for public routes)
      - only view public routes or play with the create tool, but not save
      GUEST USER CAN NOT:
      - save a route
      - move routes between public and private
      - delete route
      - import/export
      - edit
      -->





    <div class="w-100 text-center h6 mb-3 mt-3">New Routes</div>

    <div [ngClass]="!auth.isRegisteredUser() ? 'menu-item-disabled' : ''" class="menu-item p-1 border-top" (click)="onImportGpxClick()">
      Import .gpx file
    </div>

    <div class="menu-item p-1 border-top border-bottom mb-3" (click)="onCreateClick()">
      Create a new route
    </div>



    <div class="w-100 text-center h6 mb-3 mt-3 pt-3">Route Options</div>

    <div *ngIf="auth.isRegisteredUser() && (!isPathPublic || createdBy === auth.getUser().userName)"
          class="menu-item p-1 border-top"
          (click)="onChangePublicClick()">
      Make route {{isPathPublic ? 'private' : 'public'}}
    </div>

    <div
      [ngClass]="!auth.isRegisteredUser() ? 'menu-item-disabled' : ''" class="menu-item p-1 border-top"
      class="menu-item p-1 border-top"
      (click)="onCopyClick()">
      Copy this route
    </div>

    <div
      *ngIf="createdBy === auth.getUser().userName"
      class="menu-item p-1 border-top"
      (click)="onDeleteClick()">
      Copy this route
    </div>


    <div
      *ngIf="createdBy === auth.getUser().userName"
      class='text-like-link'
      (click)="onDeleteClick()">
      Delete route
    </div>


    <div
      *ngIf="isPathPublic"
      [ngClass]="!auth.isRegisteredUser() ? 'menu-item-disabled' : ''" class="menu-item p-1 border-top"
      class="menu-item p-1 border-top"
      (click)="onShareClick()">
      Get a shareable link
    </div>



    <div
      [ngClass]="!auth.isRegisteredUser() ? 'menu-item-disabled' : ''" class="menu-item p-1 border-top"
      class="menu-item p-1 border-top"
      (click)="onExportGpxClick()">
      Export to .gpx file
    </div>




    <!-- This is a hidden element activated by the 'Load from file' link above -->
    <div class="file-selector">
      <form id="file_form">
        <input type="file" id="file-select-single" (change)="onFilePickedImport($event, false, 'route')" single>
      </form>
    </div>


  </div>

  <p class="small text-left">Tip: Log in to enable inactive links</p>

</div>
