

<div class="h-100 w-100 d-flex flex-column welcome-container">

  <div class="row no-gutters flex-grow-1 welcome-main">

    <!-- use of media class helps vertical alignment of image //  justify-content-center achieves the horz alignment-->
    <!-- col-lg: just use column > large breakpoint; below that use the col-10 and offset -->
    <div class="col-lg col-10 offset-1 media justify-content-center img-container">
      <img class="img-fluid align-self-center" src="../../assets/images/welcome-page-image.svg" alt="">
    </div>

    <div class="col-lg d-flex align-items-center">

      <div class="text-center text-lg-left px-2">

        <div class="welcome-text-box">
          <span class="welcome-heading">Create</span> <br>
          <span class="welcome-text">Unique route planning tools to plan your next adventure</span>
        </div>

        <div class="my-2 welcome-text-box">
          <span class="welcome-heading">Discover</span> <br>
          <span class="welcome-text">Search for new routes on your favourite trails</span>
        </div>

        <div class="welcome-text-box">
          <span class="welcome-heading">Share</span> <br>
          <span class="welcome-text">Quickly share routes with other trail lovers </span>
        </div>

      </div>

    </div>

  </div>

  <div class="welcome-footer h-25 mt-3 " >
    <div class="d-flex justify-content-center">
      <button class="btn btn mr-2 btn-outline-secondary" type="button" (click)="onGuestClick()">Continue as Guest</button>
      <button class="btn btn ml-2 btn-primary" type="button" (click)="onLoginClick()">Login or Register</button>
    </div>
  </div>


</div>



