

<div class="d-flex flex-column welcome-container position-absolute">

  <div class="d-flex flex-wrap h-100 justify-content-center">

    <div class="d-inline-flex flex-wrap flex-lg-nowrap">

      <!-- IMAGE -->
      <img class="mx-auto" src="../../assets/images/welcome-page-image.svg" alt="">


      <!-- TEXT -->
      <div class="text-center text-lg-left w-100 px-2 my-auto">

          <span class="welcome-heading">Create</span> <br>
          <span class="welcome-text">Unique route planning tools to plan your next adventure</span><br>

          <span class="welcome-heading">Discover</span> <br>
          <span class="welcome-text">Search for new routes on your favourite trails</span><br>

          <span class="welcome-heading">Share</span> <br>
          <span class="welcome-text">Quickly share routes with other trail lovers </span><br>

      </div>

    </div>

    <!-- BUTTONS -->
    <div class="d-flex w-100 justify-content-center">
      <div class="col-6 col-md-3 m-0 p-1">
        <button class="btn w-100 btn-outline-secondary" type="button" (click)="onGuestClick()">Continue as Guest</button>
      </div>
      <div class="col-6 col-md-3 m-0 p-1">
        <button class="btn w-100 btn-primary" type="button" (click)="onLoginClick()">Login or Register</button>
      </div>
    </div>

    </div>

  </div>


