
/* div { border: 1px red solid; } */


.welcome-container {
  background-color: rgba(255,255,255,1.0);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}


.welcome-heading {
  font-family: verdana;
  font-size: 20px;
}

.welcome-text {
  font-family: verdana;
  font-size: 14px;
}



