
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.0/css/all.css">

<div class="row m-0">

  <div *ngIf="!isData; else weHaveDataToShowDiv" class="col m-0 p-0 text-center">
    No details to show.
  </div>

  <ng-template #weHaveDataToShowDiv>
    <div class="col m-0 p-0 text-center"><i class="fas fa-ruler"></i> {{pathStats.distance | units: 'distance': units.distance}}</div>
    <div class="col m-0 p-0 text-center"><i class="fas fa-mountain"></i> {{pathStats.elevations.lumpiness | units: 'lumpiness': units.elevation: units.distance}}</div>
  </ng-template>

</div>
