
.profile-container {
  position:absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  /* overflow-y: auto; */
}

.profile-inner {
  position:absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#map {
  left: 0px;
  right: 0px;
  height: 400px;
}

.btn-width {
  /* bottom: 0px; */
  width: 300px;
}


