

<div class="p-0 h-100 position-static h-100 d-flex flex-column border-white">

  <div class="p-0 mt-0 mb-0" [ngClass]="{'flex-grow-1': numberOfRoutes === 0}">

    <!-- <div class="d-flex"> -->
      <select [(ngModel)]="publicOrPrivatePaths" class="custom-select custom-select-sm mt-2 mb-1">
        <option selected value="private">My routes</option>
        <option value="public">Public routes</option>
      </select>
    <!-- </div> -->

    <div *ngIf="numberOfRoutes === 0" class="m-3 text-center">
      No routes to show.
    </div>

  </div>

  <div *ngIf="numberOfRoutes === 0; else moreThanOneRouteDiv" class="p-0 mt-2 mb-2">

      <p class="small text-left m-0">
        Tip: Click on the 'options' tab to load or create a route, or select 'Public'
        above to view shared routes in the current field of view.
      </p>

  </div>

  <ng-template #moreThanOneRouteDiv >

    <!-- Loop through available data and create a list box item for each-->
    <div *ngFor="let line of listData; let i = index" class="list-container w-100">

      <!-- empty container for each row -->
      <div id="{{line.pathId}}" class="p-0 m-0 row">

        <!-- main list box element -->
        <div [ngClass]="getCssClass(line.pathId, i, 'left')" [ngStyle]="getCssStyle(line.pathId, i, 'left')" class="col-11 m-0 px-1 py-0 border-left border-bottom" (click)="onRouteSelect(line.pathId)">
        <!-- <div style="--colour: {{colours[activePaths.length]}}" class="test-class col-11 m-0 px-1 py-0 border-left border-bottom" (click)="onRouteSelect(line.pathId)"> -->
          <div class="row m-0 p-0 name">{{line.name | name: 20}}</div>
          <div class="row m-0 p-0">
            <div class="col-6 m-0 p-0 text-left"><i class="fas fa-ruler icon"></i> {{line.stats.distance | units: 'distance': units.distance}}</div>
            <!-- <div class="col-6 m-0 p-0 text-left"><i class="fas fa-mountain icon"></i> {{line.stats.elevations.lumpiness | units: 'lumpiness': units.elevation: units.distance}}</div> -->

          </div>
        </div>

        <!-- clickable overlay box -->
        <div [ngClass]="getCssClass(line.pathId, i, 'right')" [ngStyle]="getCssStyle(line.pathId, i, 'right')" class="col-1 m-0 p-0 border-left border-right border-bottom" (click)="onRouteSelect(line.pathId)">

        <!-- <div [ngClass]="getCssClass(line.pathId, i)" class="col-1 m-0 p-0 border-left border-right border-bottom" (click)="onOverlaySelect(line.pathId)"> -->
        </div>
      </div>
    </div>

    <div class="more p-0 text-center">
      showing {{numberOfLoadedRoutes}} of {{numberOfRoutes}} routes <br>
      <span *ngIf="!isEndOfList" class="global-make-text-look-like-link" (click)="onMoreClick()"> Load more </span> <br>
    </div>
  </ng-template>

</div>
