
<div class="p-2 h-100 d-flex flex-column">

  <!-- PUBLIC/PRIVATE DROPDOWN -->

  <form>

    <!-- <div class="form-group m-0 p-0"> -->
      <select [(ngModel)]="isPublicDropDown" name="gordon"
        (ngModelChange)="onSelectMenuChange()" class="custom-select custom-select-sm my-1">
        <option *ngIf="isRegisteredUser" [value]=false>My routes</option>
        <option [value]=true>Public routes</option>
      </select>
    <!-- </div> -->

  </form>

  <!-- EMPTY ROUTE LIST -->
  <div *ngIf="tabName === 'overlay' && nAvailableRoutes === 0" class="w-100 text-center flex-grow-1">

{{tabName}}
  </div>

  <div *ngIf="tabName === 'routes' && nAvailableRoutes === 0" class="w-100 text-center flex-grow-1">

    <div class="text-center m-3">
      No routes found.
    </div>

    <div *ngIf="!isPublicDropDown" class="small mt-3 text-center mt-auto">
      Use the 'Options' tab to load or create a route, or use the dropdown above to view shared routes.
    </div>

    <div *ngIf="isPublicDropDown" class="small mt-3 text-center mt-auto">
      Only routes in the current map view are listed.  Try moving the map to find routes.
    </div>

  </div>


  <!-- ROUTE LIST -->

  <div *ngIf="nAvailableRoutes > 0" class="m-0 p-0 h-100 d-flex flex-column">

    <div class=" flex-grow-1 position-relative">
      <div class=" d-flex flex-column position-absolute routes-list overflow-auto">

      <div *ngFor="let item of listItems.array; let i = index">

        <div (click)="listAction(item.pathId)" [ngStyle]="getCssStyle(item.pathId, i)">
          <div class="highlight" [ngStyle]="getCssStyle(item.pathId, i, 'highlight')">
            <app-panel-list-item  [item]="item" class="m-0 p-0 "></app-panel-list-item>
          </div>
        </div>


      </div>

      <!-- MORE -->
      <div *ngIf="nAvailableRoutes > 0" class="mt-auto pt-2 text-center small">
        showing {{nLoadedRoutes}} of {{nAvailableRoutes}} routes <br>
        <span *ngIf="nAvailableRoutes !== nLoadedRoutes" class="text-like-link" (click)="onMoreClick()"> Load more </span> <br>
      </div>

    </div>
  </div>
  </div>

  <div *ngIf="isLoading" class="spinner-outer d-flex">
    <div class="spinner-border spinner-inner" role="status"></div>
  </div>

</div>
