
<div class="p-2 h-100 d-flex flex-column">

  <!-- PUBLIC/PRIVATE DROPDOWN -->
  <form>

    <div class="form-group m-0 p-0">
      <select [(ngModel)]="isPublicOrPrivate" [ngModelOptions]="{standalone: true}"
        (change)="onSelectMenuChange()" class="custom-select custom-select-sm my-1">
        <option *ngIf="!isRegisteredUser" disabled value=false>My routes</option>
        <option *ngIf="isRegisteredUser" value=false>My routes</option>
        <option value=true>Public routes</option>
      </select>
    </div>

  </form>



  <!-- EMPTY ROUTE LIST -->
  <!-- <div *ngIf="nRoutesInView === 0" class="w-100 text-center flex-grow-1">

    <div class="text-center m-3">
      No routes found.
    </div>

    <div *ngIf="!isPublicOrPrivate" class="small mt-3 text-center mt-auto">
      Use the 'Options' tab to load or create a route, or use the dropdown above to view shared routes.
    </div>

    <div *ngIf="isPublicOrPrivate" class="small mt-3 text-center mt-auto">
      Only routes in the current map view are listed.  Try moving the map to find routes.
    </div>

  </div> -->


  <!-- ROUTE LIST -->

  <div *ngIf="nRoutesInView > 0" class="m-0 p-0 h-100 d-flex flex-column">

    <!-- <div class="m-0 p-0 d-flex flex-column active-route-holder">
      <div class="m-1">
        <i>Active Route:</i>
      </div>

      <app-panel-list-item *ngIf="nSelectedRoutes > 0" [item]="listItems[0]" class="my-auto list-item"
        (click)="onListClick(listItems[0].pathId)" [ngStyle]="getCssStyle(listItems[0].pathId, 0)">
      </app-panel-list-item>

      <div *ngIf="nSelectedRoutes === 0" class="w-100 text-center my-auto">No route selected.</div>
    </div>

    <div *ngIf="nSelectedRoutes === 0" class="m-1 p-0"><i>Select a route to view:</i></div>
    <div *ngIf="nSelectedRoutes > 0 && nRoutesInView <= 1" class="my-1 p-0"><i>No more routes to show.</i></div>
    <div *ngIf="nSelectedRoutes > 0 && nRoutesInView > 1" class="my-1 p-0"><i>Select routes to overlay:</i></div>
 -->

    <div class=" flex-grow-1 position-relative">
      <div class=" d-flex flex-column position-absolute routes-list overflow-auto">

      <div *ngFor="let item of listItems; let i = index">

        <div (click)="onListClick(item.pathId)" [ngStyle]="getCssStyle(item.pathId, i)">
          <div class="highlight" [ngStyle]="getCssStyle(item.pathId, i, 'highlight')">
            <app-panel-list-item  [item]="item" class="m-0 p-0 "></app-panel-list-item>
          </div>
        </div>


      </div>

      <!-- MORE -->
      <div *ngIf="nRoutesInView > 0" class="mt-auto text-center small">
        showing {{nLoadedRoutes}} of {{nRoutesInView}} routes <br>
        <span *ngIf="!isAllRoutesLoaded" class="text-like-link" (click)="onMoreClick()"> Load more </span> <br>
      </div>

    </div>
  </div>
  </div>

  <div *ngIf="isLoading" class="spinner-outer d-flex">
    <div class="spinner-border spinner-inner" role="status"></div>
  </div>

</div>
