/* div {
  border: 1px blue solid;

}
 */

.name {
  font-size: small;
  font-weight: bold;
}

.stats {
  font-size: small;
}

.active-route-holder {
  font-size: small;
  height: 70px;
}

.routes-list {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}


.form-select {
  border: 1px #dee2e6 solid;
  border-radius: 0px;
  font-size: small;
  cursor: pointer;
  height: 30px;
}

.form-select:focus {
  box-shadow: none;
}

.spinner-outer {
  /* border: 1px red solid; */
  position: absolute;
  background: rgba(255,255,255,0.3);
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.spinner-inner {
  position: relative;
  top: 30%;
  left: 45%;
}



@media only screen and (min-width: 900px) {
  .highlight:hover {
    /* background-color: var(--ts-grey-background); */
    /* box-shadow: 5px 10px; */
    /* box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.2); */
    /* border-left: 7px var(--ts-grey-background) solid !important; */
    border-left: 7px lightgrey solid !important;
    padding-left: 0px;

  }
}

  .highlight {
    /* border-left: 0px; */
    /* padding-left: 7px; */
    border-left: 7px transparent solid;

  }

/* } */


