
.name {
  font-size: small;
  font-weight: bold;
}

.stats {
  font-size: small;
}

.active-route-holder {
  font-size: small;
  height: 70px;
}

.custom-select {
  border: 1px #dee2e6   solid;
  font-size: small;
}

.custom-select:focus {
  box-shadow: none;
}

@media only screen and (min-width: 900px) {
  .list-item:hover {
    /* background-color: var(--ts-grey-background); */
    /* box-shadow: 5px 10px; */
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.2);
  }
}


