/*
div {
  border: 1px blue solid;
} */

.list-item {
  cursor: pointer;
}

.list-item:hover{
  background-color: var(--ts-grey-background);
}

.name {
  font-size: small;
  font-weight: bold;
}

.stats {
  font-size: small;
}
