
<!--
  Note this is all bootstrap controlled https://getbootstrap.com/docs/4.3/components/navbar/
  Useful links:
    - https://getbootstrap.com/docs/4.0/utilities/spacing/
-->

<nav class="navbar navbar-expand-lg ml-0 mb-1 pl-0 navbar-light border-bottom">

  <!-- Brand -->
  <a class="navbar-brand" href="#">
    <img class="image" src="../../assets/images/ts_header.svg" alt="">
  </a>

  <!-- This defines the collapsed hamburger menu -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Uncollapsed menu -->
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
          <a *ngIf='auth.isLoggedIn()' [routerLink]="['/route/list/']" class="nav-link">Routes<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a *ngIf='auth.isLoggedIn()' class="nav-link">Blog</a>
        </li>
      </ul>
  </div>

  <div *ngIf='auth.isLoggedIn()' class="d-flex flex-column small align-items-end">
    <div class="">
        Welcome <span class="global-make-text-look-like-link" (click)="onUserClick()">{{auth.getUser().userName}}</span>
    </div>

    <div class="global-make-text-look-like-link" (click)="onLogoutClick()">Logout</div>
  </div>

  <div *ngIf='!auth.isLoggedIn()' class="d-flex flex-column small align-items-end">
    <span *ngIf='!auth.isLoggedIn()' (click)="onLoginClick()" class="global-make-text-look-like-link">Login</span>
    <span *ngIf='!auth.isLoggedIn()' (click)="onRegisterClick()" class="global-make-text-look-like-link">Register</span>
  </div>


</nav>
