
.login-box-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 450px;
  transform: translate(-50%, -50%);
  background:rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

.login-box-inner {
  background-color: var(--ts-grey-background);
  border-radius: 5px;
}

.login-box-wide {
  width: 350px;
}

.input-group-text {
  width : 32px;
}

.form-control-danger {
  border-color: #e06c6c;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(224, 108, 108, 0.5);
}

img {
  height: 15px;
}
