



  <div class="login-box d-flex flex-column" [ngClass]="windowWidth>=BREAKPOINT ? 'login-box-wide' : ''">

    <div class="d-flex flex-column flex-grow-1 m-4 test">

      <!-- TABS -->
      <ul class="nav nav-tabs p-0 nav-justified" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab" (click)="onSelectLoginTab()">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" (click)="onSelectRegisterTab()">Register</a>
        </li>
      </ul>

      <!-- CONTENT -->
      <div class="tab-content flex-grow-1 border-left border-right border-bottom rounded-bottom bg-white" id="myTabContent">

        <!-- LOGIN -->
        <div class="tab-pane fade show active m-3" id="login" role="tabpanel">

          <form class="form-signin d-flex flex-column" name="login-form">

            <div class="input-group input-group-sm my-2">
              <div class="input-group-prepend">
                <span class="input-group-text m-0 p-0">
                  <img src="assets/images/icon-login-person.svg" class="m-auto">
                </span>
              </div>
              <input type="text" name="userName" class="form-control" placeholder="Username" required>
            </div>

            <div class="input-group input-group-sm my-2 flex-grow-1">
              <div class="input-group-prepend">
                <span class="input-group-text m-0 p-0">
                  <img src="assets/images/icon-login-padlock.svg" class="m-auto">
                </span>
              </div>
              <input type="password" name="password" class="form-control" placeholder="Password" required>
            </div>

          </form>

        </div>


        <!-- REGISTER -->
        <div class="tab-pane fade m-3" id="register" role="tabpanel">

          <form class="form-signin d-flex flex-column" name="register-form">

            <div class="input-group input-group-sm my-2">
              <div class="input-group-prepend">
                <span class="input-group-text m-0 p-0">
                  <img src="assets/images/icon-login-person.svg" class="m-auto">
                </span>
              </div>
              <input type="text" name="userName" class="form-control" [ngClass]="{'form-control-danger': notValidUserName()}"  [(ngModel)]="userName" placeholder="Username" required>
            </div>

            <div class="input-group input-group-sm my-2">
              <div class="input-group-prepend">
                <span class="input-group-text m-0 p-0">
                  <img src="assets/images/icon-login-email.svg" class="m-auto">
                </span>
              </div>
              <input type="email" name="email" class="form-control" [ngClass]="{'form-control-danger': notValidEmail()}"  [(ngModel)]="email" placeholder="Email address" required>
            </div>

            <div class="input-group input-group-sm my-2">
              <div class="input-group-prepend">
                <span class="input-group-text m-0 p-0">
                  <img src="assets/images/icon-login-padlock.svg" class="m-auto">
                </span>
              </div>
              <input type="password" name="password" class="form-control" [ngClass]="{'form-control-danger': notValidPassword()}" placeholder="Password (6 or more characters)" [(ngModel)]="password" required>
            </div>

            <div class="input-group input-group-sm my-2">
              <div class="input-group-prepend">
                <span class="input-group-text m-0 p-0">
                  <img src="assets/images/icon-login-padlock.svg" class="m-auto">
                </span>
              </div>
              <input type="password" name="password-confirm" class="form-control" [ngClass]="{'form-control-danger': notValidPasswordConfirm()}" placeholder="Confirm password" [(ngModel)]="passwordConfirm" required>
            </div>

          </form>
        </div>
      </div>
    </div>


    <!-- BUTTONS -->

    <div class="row no-gutters justify-content-center mx-4 mb-4">
      <div class="col-6 pr-1">
        <button class="btn btn-sm btn-outline-secondary btn-block" type="submit" (click)="onCancel()">Cancel</button>
      </div>
      <div class="col-6 pl-1">
        <button class="btn btn-sm btn-primary btn-block" type="submit" (click)="onSubmit()">Submit</button>
      </div>
    </div>

  </div>
<!-- </div> -->
