
<div class="profile-container d-flex flex-column p-2">

  <div class="flex-grow-1 position-relative">

    <div class="profile-inner overflow-auto">

      <div class="col-md-6 col-12 mx-auto h-100">

        <div class="h6 text-left border-bottom py-2">Preferences</div>

        <div class="row no-gutters">
          <div class="col-4 p-1 text-right">email</div>
          <div class="col-4 offset-1 p-1"> {{auth.user.email}} </div>
        </div>

        <div class="row no-gutters">
          <div class="col-4 p-1 text-right">distance units</div>
          <div class="col-4 offset-1 p-1 text-like-link" (click)="onChangeDistanceUnits()"> {{ auth.user.units.distance | unitsLongName }}</div>
        </div>

        <div class="row no-gutters mb-2">
          <div class="col-4 p-1 text-right">elevation units</div>
          <div class="col-4 offset-1 p-1 text-like-link" (click)="onChangeElevationUnits()">{{ auth.user.units.elevation | unitsLongName }}</div>
        </div>

        <div class="h6 text-left border-bottom py-2">Home Location {{home | coords}}</div>

        <div class="flex-grow-1 py-2 w-100 position-relative">
          <div id="map"></div>
        </div>

      </div>

    </div>

  </div>


    <div class="btn-width row no-gutters mx-auto py-2">
      <div class="col-6 pr-1">
        <button class="btn btn-sm btn-outline-secondary btn-block" type="button" (click)="onLogoutClick()">Logout</button>
      </div>
      <div class="col-6 pl-1">
        <button class="btn btn-sm btn-primary btn-block" type="button" (click)="onClose()">Close</button>
      </div>
    </div>


</div>
