

<div [ngClass]="windowWidth<BREAKPOINT ? 'outer-container-mobile' : 'outer-container-desktop'">

  <div *ngIf="windowWidth<BREAKPOINT" class="icon-group">
    <div class="icon-background-btn" (click)="onMapIconClick()">
      <img src="assets/images/icon-menu-map.svg" class="icon" title="View map options">
    </div>
  </div>



  <!-- VIEWS ICONS FOR DESKTOP ONLY -->

  <div *ngIf="windowWidth>=BREAKPOINT" class="icon-group">

    <div class="icon-background-btn">
      <img src="assets/images/icon-menu-fit-one.svg" [ngClass]="!isData ? 'icon-inactive' : ''" class="icon" title="Fit only the active route" (click)="map.fitViewOne()">
    </div>

    <div class="icon-background-btn">
      <img src="assets/images/icon-menu-fit-all.svg"  [ngClass]="!isData ? 'icon-inactive' : ''"class="icon"  title="Fit all displayed routes" (click)="map.fitViewAll()">
    </div>

    <div class="icon-background-btn">
      <img src="assets/images/icon-menu-goto-home.svg" [ngClass]="auth.isGuest ? 'icon-inactive' : ''"class="icon" class="icon" title="Goto home" (click)="map.goto(homeLngLat)">
    </div>

    <div class="icon-background-btn">
      <img src="assets/images/icon-menu-goto-current.svg" [ngClass]="!position ? 'icon-inactive' : ''" class="icon" title="Goto current position" (click)="map.goto(position)">
    </div>

    <div class="icon-radio-group">
      <div class="icon-background-radio-top">
        <img src="assets/images/icon-menu-view-terrain.svg" [ngClass]="map.getType==='terrain' ? 'icon-inactive' : ''" class="icon" title="Show terrian view" (click)="map.setType('terrain')">
      </div>

      <div class="icon-background-radio-bottom">
        <img src="assets/images/icon-menu-view-satellite.svg" [ngClass]="map.getType==='satellite' ? 'icon-inactive' : ''" class="icon" title="Show satellite view" (click)="map.setType('satellite')">
      </div>
    </div>

  </div>

  <!-- CREATE MENU FOR MOBILE AND DESKTOP -->

  <div *ngIf="callingPage!=='list'" class="icon-group">

    <div class="icon-background-btn">
      <img src="assets/images/icon-menu-create-undo.svg" [ngClass]="!isData ? 'icon-inactive' : ''" class="icon" title="Undo last action" (click)="map.undo()">
    </div>

    <div class="icon-background-btn">
      <img src="assets/images/icon-menu-create-tools.svg" [ngClass]="!isData ? 'icon-inactive' : ''" class="icon" title="Show route tools menu" (click)="onToolsIconClick()">
    </div>

    <div class="icon-radio-group">
      <div class="icon-background-radio-top" (click)="map.snapType='none'">
        <img src="assets/images/icon-menu-create-snap-none.svg" [ngClass]="map.snapType==='none' ? 'icon-inactive' : ''" class="icon" title="No Snap">
      </div>

      <div (click)="map.snapType='walking'">
        <img src="assets/images/icon-menu-create-snap-path.svg" [ngClass]="map.snapType==='walking' ? 'icon-inactive' : ''" class="icon" title="Snap to paths">
      </div>

      <div class="icon-background-radio-bottom" (click)="map.snapType='driving'">
        <img src="assets/images/icon-menu-create-snap-road.svg" [ngClass]="map.snapType==='driving' ? 'icon-inactive' : ''" class="icon" title="Snap to roads">
      </div>
    </div>

  </div>

</div>



<!-- VIEWS MENU FOR MOBILE ONLY -->

<div [ngClass]="showMapMenu ? 'menu-container-open' : ''" class="menu-container d-flex" (click)="onMapIconClick()">

  <div *ngIf="showMapMenu" class="menu-container-inner d-flex flex-wrap mx-auto my-auto px-3 pt-2 pb-3" >

    <div class="w-100 text-center h6 mb-3">Map Options</div>

    <div [ngClass]="!isData ? 'ts-menu-item-disabled' : ''" class="ts-menu-item p-1 border-top" (click)="map.fitViewOne()">
      Fit active path
    </div>

    <div [ngClass]="!isData ? 'ts-menu-item-disabled' : ''" class="ts-menu-item p-1 border-top" (click)="map.fitViewAll()">
      Fit all paths
    </div>

    <div  [ngClass]="auth.isGuest ? 'ts-menu-item-disabled' : ''" class="ts-menu-item p-1 border-top" (click)="map.goto(homeLngLat)">
      Go to home
    </div>

    <div  [ngClass]="!position ? 'ts-menu-item-disabled' : ''" class="ts-menu-item p-1 border-top" (click)="map.goto(position)">
      Go to current location
    </div>

    <div [ngClass]="map.getType==='terrain' ? 'ts-menu-item-disabled' : ''" class="ts-menu-item p-1 border-top" (click)="map.setType('terrain')">
      Show terrain map
    </div>

    <div [ngClass]="map.getType==='satellite' ? 'ts-menu-item-disabled' : ''" class="ts-menu-item p-1 border-top border-bottom" (click)="map.setType('satellite')">
      Show satellite map
    </div>

  </div>

</div>



<!-- CREATE TOOLS -->

<div [ngClass]="showToolsMenu ? 'menu-container-open' : ''" class="menu-container d-flex" (click)="onToolsIconClick()">

  <div *ngIf="showToolsMenu" class="menu-container-inner d-flex flex-wrap mx-auto my-auto px-3 pt-2 pb-3" >

    <div class="w-100 text-center h6 mb-3">Routing Tools</div>

    <div [ngClass]="!isData ? 'ts-menu-item-disabled' : ''" class="ts-menu-item p-1 border-top" (click)="map.clear()">
      Clear all
    </div>

    <div [ngClass]="!isData ? 'ts-menu-item-disabled' : ''" class="ts-menu-item p-1 border-top" (click)="map.closePath()">
      Close route
    </div>

    <div [ngClass]="!isData ? 'ts-menu-item-disabled' : ''" class="ts-menu-item p-1 border-top" (click)="map.reversePath()">
      Reverse route
    </div>

    <div [ngClass]="!isData ? 'ts-menu-item-disabled' : ''" class="ts-menu-item p-1 border-top border-bottom" (click)="map.simplify()">
      Simplify route
    </div>

  </div>

</div>

