

<div class="h-100 w-100 bg-white d-flex flex-column ">

  <div class="col-lg-6 offset-lg-3 small bg-white d-flex flex-column my-auto p-0 ">

    <!-- INFO BLOCK -->

    <!-- <div class="row"> -->
      <div class="h6 text-left border-bottom m-0 p-2">Info</div>
    <!-- </div> -->

    <div class="row">
      <div class="col-2 p-2 m-0"></div>
      <div class="col-4 p-2 m-0 text-left font-weight-bold">Username</div>
      <div class="col-6 p-2 m-0 text-left"> {{user.userName}} </div>
    </div>

    <div class="row align-items-center">
      <div class="col-2 p-2 m-0"></div>
      <div class="col-4 p-2 m-0 text-left font-weight-bold">Home Location</div>
      <div class="col-4 p-2 m-0 text-left"> {{user.homeLngLat | coords}}</div>
      <div class="col-2 p-2 m-0 text-center">
        <span class="text-like-link" (click)="onChangeLocation()">change</span>
      </div>
    </div>

    <div class="row">
      <div class="col-2 p-2 m-0"></div>
      <div class="col-4 p-2 m-0 text-left font-weight-bold">email</div>
      <div class="col-6 p-2 m-0 text-left"> {{user.email}} </div>
    </div>

    <!-- PREFERENCES BLOCK -->
    <!-- <div class="row"> -->
      <div class="h6 text-left border-bottom m-0 mt-5 p-3">Preferences</div>
    <!-- </div> -->

    <div class="row justify-content-center">
      <div class="col-2 p-2 m-0"></div>
      <div class="col-4 p-2 m-0 text-left font-weight-bold">Distance</div>
      <div class="col-4 p-2 m-0 text-left"> {{ user.units.distance | unitsLongName }}</div>
      <div class="col-2 p-2 m-0 text-center">
        <span class="text-like-link" (click)="onChangeDistanceUnits()">change</span>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-2 p-2 m-0"></div>
      <div class="col-4 p-2 m-0 text-left font-weight-bold">Elevation</div>
      <div class="col-4 p-2 m-0 text-left"> {{ user.units.elevation | unitsLongName }}</div>
      <div class="col-2 p-2 m-0 text-center">
        <span class="text-like-link" (click)="onChangeElevationUnits()">change</span>
      </div>
    </div>

    <!-- BUTTONS -->

    <div class="row flex-grow-1 justify-content-center p-3 mt-5 align-items-center">
      <div class="col-4 ">
        <button class="btn btn-sm btn-primary btn-block" type="submit" (click)="onClose()">Close</button>
      </div>
    </div>

  </div>
</div>

