

<div class="icon-container d-flex flex-wrap">
  <!-- <img src="assets/images/icon-menu-map.svg" (click)="onMapIconClick()" height="40" class="m-1 p-0"> -->
  <img src="assets/images/icon-menu-fit-one.svg" [ngClass]="!isData ? 'icon-inactive' : ''" class="icon-btn" (click)="map.fitViewOne()">
  <img src="assets/images/icon-menu-fit-all.svg"  [ngClass]="!isData ? 'icon-inactive' : ''"class="icon-btn" (click)="map.fitViewAll()">
  <img src="assets/images/icon-menu-goto-home.svg" class="icon-btn" (click)="map.goto(homeLngLat)">
  <img src="assets/images/icon-menu-goto-current.svg" [ngClass]="!position ? 'icon-inactive' : ''" class="icon-btn" (click)="map.goto(position)">

  <img src="assets/images/icon-menu-view-terrain.svg" [ngClass]="map.getType==='terrain' ? 'icon-inactive' : ''" class="icon-radio-top" (click)="map.setType('terrain')">
  <img src="assets/images/icon-menu-view-satellite.svg" [ngClass]="map.getType==='satellite' ? 'icon-inactive' : ''" class="icon-radio-bottom" (click)="map.setType('satellite')">
</div>

<div [ngClass]="showMapMenu ? 'menu-container-open' : ''" class="menu-container position-absolute" (click)="onMapIconClick()">

  <div *ngIf="showMapMenu" class="menu-container-inner d-flex flex-wrap mx-auto my-auto px-3 pt-2 pb-3" >

    <div class="w-100 text-center h6 mb-3">Map Options</div>

    <div [ngClass]="!isData ? 'ts-menu-item-disabled' : ''" class="ts-menu-item p-1 border-top" (click)="map.fitViewOne()">
      Fit active path
    </div>

    <div [ngClass]="!isData ? 'ts-menu-item-disabled' : ''" class="ts-menu-item p-1 border-top" (click)="map.fitViewAll()">
      Fit all paths
    </div>

    <div class="ts-menu-item p-1 border-top" (click)="map.goto(homeLngLat)">
      Go to home
    </div>

    <div [ngClass]="!position ? 'ts-menu-item-disabled' : ''" class="ts-menu-item p-1 border-top border-bottom" (click)="map.goto(position)">
      Go to current position
    </div>

  </div>
</div>
