

/* menu bar formatting needed to located the containerin the right place */
.menu-bar {
    top: 0px;
    left: 0px;
    font-size: small;    
    opacity: 0.5;
}

.menu-bar:hover { 
    opacity: 1.0;
}

/* Menu button behaviours */
.clicky-btn  {
    background-color: white;
    opacity: 0.5;
}

.clicky-btn:hover  {
    opacity: 1.0;
}

.button {
    font-size: small;
}
.radio-btns  {
    border-top-left-radius: none;
    border-top-right-radius: none;
    border-bottom-right-radius: none;
    border-bottom-right-radius: none;
}

.radio-btns:hover  {
    opacity: 1.0;
}


/* Remove border effect from bootstrap btn */
.btn-light:focus, .btn-light.focus {
    box-shadow: none;
  }



