

div{
  --icon-height: 40px;
}

.icon-container {
  position: absolute;
  top: 10px;
  left: 10px;
  /* border: 1px red solid; */
  width: calc(10px + var(--icon-height));
}

.icon-btn {
  margin: 2px;
  padding: 0px;
  border: 2px solid var(--ts-green);
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.2);
  cursor: pointer;
  height: var(--icon-height);
}

/*
.icon-radio {
  margin: 2px;
  padding: 0px;
  border: 2px solid var(--ts-green);
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.2);
  cursor: pointer;
  height: var(--icon-height);
} */


.icon-radio-top {
  margin: 2px 2px 0px 2px;
  padding: 0px;
  border: 2px solid var(--ts-green);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: white;
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.2);
  cursor: pointer;
  height: var(--icon-height);
}

.icon-radio-bottom {
  margin: -2px 2px 2px 2px;
  padding: 0px;
  border: 2px solid var(--ts-green);
  /* border-top: none; */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.2);
  cursor: pointer;
  height: var(--icon-height);
}




.icon-inactive {
  opacity: 0.7;
  cursor: default;
  pointer-events: none;
}



.menu-container {
  transition: background-color 0.75s;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  /* border: 1px red solid; */
  pointer-events: none;

}

.menu-container-open {
  transition: background-color 0.75s;
  cursor: default;
  background-color: rgba(0,0,0,0.4);
  pointer-events: all;

}




.hidden-view {
  display: none;
  pointer-events: none;
}


.menu-container-inner {
  width: 200px;
  background-color: white;
  /* border: 1px blue dotted; */
  pointer-events: all;
  border-radius: 5px;
  border: 1px var(--ts-green) solid;

  box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.2);

}

.ts-menu-item {
  width: 100%;
  color: black;
  text-align: center;
  pointer-events: all;
  cursor: pointer;
}

.ts-menu-item:hover {
  background-color: var(--ts-grey-background);
}

.ts-menu-item-disabled {
  color: grey;
  pointer-events: none;
  cursor: default;
}


