

div{
  --icon-height: 40px;
  --icon-border-width: 1px;
  --icon-border-colour: var(--ts-green);
  --icon-border-radius: 3px;
  --icon-spacing: 1px;
}

.outer-container-mobile {
  position: absolute;
  bottom: 50px;
  width: 60px;
  right: 0px;
  /* border: 1px red solid; */
}

.outer-container-desktop {
  position: absolute;
  top: 0px;
  width: 60px;
  left: 0px;
  /* border: 1px red solid; */
}

.icon-group {
  /* position: relative; */
  margin: 8px;
  display: block;

}

.icon-background-btn {
  margin: var(--icon-spacing);
  background-color: white;
  border-radius: var(--icon-border-radius);
  border: var(--icon-border-width) solid var(--icon-border-colour);
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.2);
  display: block;

}

.icon {
  cursor: pointer;
}

img {
  height: var(--icon-height);
}


.icon-inactive {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}


.icon-radio-group {
  background-color: white;
  margin: var(--icon-spacing);
  border-radius: var(--icon-border-radius);
  border: var(--icon-border-width) solid var(--icon-border-colour);
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.2);
}

.icon-background-radio-top {
  border-top-left-radius: var(--icon-border-radius);
  border-top-right-radius: var(--icon-border-radius);
}

/* .icon-background-radio-middle {
} */

.icon-background-radio-bottom {
  border-bottom-left-radius: var(--icon-border-radius);
  border-bottom-right-radius: var(--icon-border-radius);
}


.menu-container {
  position: absolute;
  transition: background-color 0.75s;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
  /* border: 1px blue solid; */
}

.menu-container-open {
  transition: background-color 0.75s;
  cursor: default;
  background-color: rgba(0,0,0,0.4);
  pointer-events: all;
}

.hidden-view {
  display: none;
  pointer-events: none;
}


.menu-container-inner {
  width: 200px;
  background-color: white;
  pointer-events: all;
  border-radius: 5px;
  border: 1px var(--ts-green) solid;
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.2);
}

.ts-menu-item {
  width: 100%;
  color: black;
  text-align: center;
  pointer-events: all;
  cursor: pointer;
}

.ts-menu-item:hover {
  background-color: var(--ts-grey-background);
}

.ts-menu-item-disabled {
  color: grey;
  pointer-events: none;
  cursor: default;
}


