<div class="welcome position-fixed">

  <div class="text-center"><h5>Welcome to trailscape!</h5></div>

  <div class="mt-3">I haven't written a front-page yet.<div>

  <div class="mt-3">
    But, what you need to know for now is that this site is:
    <ul>
      <li>Developed in my spare time so might be rough around the edges</li>
      <li>Tested in chrome, but might work in other browsers (maybe)</li>
      <li>Vey beta ... data loss may occur at any time and without notice!</li>
      <li>I promise its better when you get inside...</li>
    </ul>
  </div>

</div>

